---
import { getCollection } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";
import PostList from "../../components/PostList.astro";

const posts = await getCollection("posts", ({ data }) => {
  return data.draft !== true;
});
---

<BlogLayout>
  <div class="bg-slate-500">
    <!-- header -->
    <header class="container tracking-[-0.05em] max-w-screen-lg lg:px-20 px-6 py-24">
      <p class="px-2 py-1 mb-4 tracking-normal bg-slate-200 w-fit text-slate-800 font-semibold rounded-sm">
        Blog
      </p>
      <h1 class="mb-2 text-4xl font-medium text-white">
        Haidar's writings
      </h1>
      <p class="text-lg font-light text-slate-200 lg:w-2/3">
        <a href="/" class="font-bold underline mr-1">
          Hi, Haidar here!.
        </a>
        <span>
          I write about the web, programming, and sometimes my life experiences. Enjoy reading!
        </span>
      </p>
    </header>

  </div>
  <!-- posts -->
  <section class="container max-w-screen-lg lg:px-20 px-6 pb-32">
    <div class="grid grid-cols-1">
      {posts.map((post) => (
        <PostList post={post} />
      ))}
    </div>
  </section>
</BlogLayout>
