---
import { Image } from "astro:assets";

import ProgrammingSvg from "../../public/assets/undraw_programming_re_kg9v.svg";

const Logos = {
  
}
---

<section
  class="px-4 lg:px-6 lg:pb-32 lg:pt-60 pt-48 container max-w-screen-xl flex justify-between"
>
  <div class="xl:w-1/2">
    <div class="flex">
      <h1 class="lg:mb-12 mb-8 text-4xl font-extrabold text-slate-400">
        hi, im Haidar 👋
      </h1>
    </div>
    <p class="lg:mb-12 mb-8 lg:text-6xl text-5xl font-bold text-slate-200">
      im a junior <span
        class="box-decoration-slice lg:text-nowrap bg-gradient-to-r from-slate-800 to-teal-500 text-white"
        >web developer.</span
      ><span class="md:block hidden"
        >who loves to build websites and web applications.</span
      >
    </p>
    <!-- <p class="lg:mb-12 mb-8 text-6xl font-bold text-slate-200">
				im a web developer <span class="md:block hidden">who loves to build websites and web applications.</span>
			</p> -->
    <p class="text-4xl font-medium text-slate-300 md:hidden block">
      who loves to build websites and web applications.
    </p>

    <p class="lg:mt-36 mt-16 text-slate-400 lg:text-3xl text-2xl">
      partially i build some mobile apps using <span class="font-bold"
        >react native</span
      > too. 😋
    </p>
  </div>
  <div class="hidden xl:block absolute left-[50%]">
    <Image src={ProgrammingSvg} format="svg" alt="hero-svg" />
  </div>
</section>
