---
import BlogLayout from "./BlogLayout.astro";

const { frontmatter } = Astro.props;
---

<BlogLayout title=`${frontmatter.title} | Whodareuu`>
  <div class="bg-slate-500">
    <!-- header -->
    <header
      class="container tracking-[-0.05em] max-w-screen-lg lg:px-20 px-6 pt-12 pb-20"
    >
      <a href="/posts" class="flex items-center gap-4 text-sm font-light text-slate-100 mb-20">
        <ion-icon name="chevron-back-outline"></ion-icon>
        <span> Back to posts </span>
      </a>
      <h1 class="mb-1 text-4xl font-medium text-white w-2/3">
        {frontmatter.title}
      </h1>
      <p class="text-base font-light text-slate-200 w-2/3">
        Created on {
          frontmatter.date.toLocaleDateString(undefined, {
            dateStyle: "long",
            timeZone: "UTC",
          })
        }
      </p>
    </header>
  </div>
  <!-- posts -->
  <section class="container max-w-screen-lg lg:px-20 px-6 pt-16 pb-48">
    <div
      class="mt-8 text-base text-slate-700 leading-5 prose-stone prose-a:text-slate-600 hover:prose-a:text-slate-800 prose-p:text-justify prose-img:h-[200px] prose lg:prose-md min-w-full"
    >
      <slot />
    </div>
  </section>
  
</BlogLayout>
